log.html
report.html
output.xml
red.xml
*.log
*.log.*
*.pyc
.env
.version
.jenkins/tools/jenkins-cli.jar
junit.xml

test/output/**/*
test/robot/tests/output/**/*
test/robot/results/**/*
test/**/.project
.project

/.metadata/
/libspecs/
*.sh
convertor.properties